/*	================================
    BASE
================================	*/
*:focus {
  outline: 2px solid hsl(212, 100%, 66%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 8%, 12%);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn {
  font-weight: 500;
  border-radius: 100vmax;
  padding: 0.5em 1.75em;
  background-color: hsl(47, 100%, 59%);

  &:focus,
  &:hover {
    background-color: hsl(44, 100%, 50%);
  }

  &:disabled {
    cursor: initial;
    opacity: 0.5;

    &:focus,
    &:hover {
      background-color: hsl(47, 100%, 59%);
    }
  }
}

.btn--warning {
  background-color: #ffffff;
  color: hsl(357, 96%, 58%);
  border: 1px solid hsl(357, 96%, 58%);

  &:focus,
  &:hover {
    color: #ffffff;
    background-color: hsl(357, 96%, 58%);
  }
}

.btn--link {
  text-decoration: underline;
  font-weight: 500;
  background-color: transparent;
  color: hsl(212, 100%, 66%);

  &:focus,
  &:hover {
    background-color: transparent;
    color: hsl(221, 97%, 53%);
  }

  &:disabled {
    cursor: not-allowed;
    text-decoration: none;
    background-color: transparent;

    &:focus,
    &:hover {
      background-color: transparent;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
