/*	================================
    BASE
================================	*/
*:focus {
  outline: 2px solid hsl(212, 100%, 66%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 8%, 12%);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn {
  font-weight: 500;
  border-radius: 100vmax;
  padding: 0.5em 1.75em;
  background-color: hsl(47, 100%, 59%);

  &:focus,
  &:hover {
    background-color: hsl(44, 100%, 50%);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
