/*	================================
    ALL FORMS
================================	*/
.entry {
  width: 334px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  border-radius: 10px;
  padding: 3em 2em;
  background-color: white;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);

  h1,
  p {
    text-align: center;
  }

  h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;

    & + p {
      margin-top: -1.5rem;
      color: hsl(220, 10%, 46%);
    }
  }

  a {
    color: hsl(212, 100%, 66%);
    text-decoration: none;

    &:focus,
    &:hover {
      color: hsl(221, 97%, 53%);
    }
  }
}

@media screen and (min-width: 48em) {
  .entry {
    width: 392px;

    h1 {
      font-size: 2rem;
    }
  }
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75rem;
}

.form__group {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;

  label {
    font-weight: 500;
  }

  input {
    border-radius: 4px;
    border-color: rgba(28, 29, 33, 0.2);
    padding: 0.25em 0.5em;
  }

  p {
    font-size: 0.875rem;
    text-align: right;
  }
}

.form__group--otp {
  flex-direction: row;
  justify-content: center;
  gap: 0.75em;

  input {
    width: 42px;
    height: 42px;

    &:disabled {
      background-color: #eee;
    }
  }
}
