/*	================================
    FORM
================================	*/
.entry {
  width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  gap: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2em 1em;

  h1,
  p {
    text-align: center;
  }
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.form__group {
  display: flex;
  flex-flow: column nowrap;
}
