/*	================================
    CSS RESET
================================	*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}
