/*	================================
    NAVBAR
================================	*/
.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.nav__user {
  display: flex;
  gap: 0.75rem;
}
