/*	================================
    SECTION: USER
================================	*/
.user {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
  padding: 2em;
}

.user__email {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;

  a {
    color: inherit;
    text-decoration: none;
  }
}
