/*	================================
    BASE
================================	*/

@import '../abstracts/variables';

*:focus {
  outline: 2px solid $clr-accent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $clr-bg-body;
  color: $clr-text-main;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
