/*	================================
    LOADER: PULSE
================================	*/

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  gap: 1.5rem;

  &__logo {
    width: 120px;
    height: auto;
    animation: pulse 1.5s ease-in-out infinite;

    @media screen and (min-width: 45em) {
      width: 200px;
    }
  }
}
