/*	================================
    CARD BODY
================================	*/

@import '../../../../styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.125rem;
}
