/*	================================
    REDIRECT
================================	*/

@import '../../../../styles/abstracts/variables';

.redirect {
  font-size: 0.875rem;
  color: $clr-text-muted;

  p {
    text-align: center;
  }
}
