/*	================================
    HOME
================================	*/

.user {
  max-width: 400px;
  text-align: center;
  padding: 2em;

  @media screen and (min-width: 45em) {
    max-width: 600px;
  }
}
