/*	================================
    CARD BODY
================================	*/

@import '../../../../styles/abstracts/variables';

.error-text {
  display: block;
  font-size: 0.75rem;
  margin-block: 0.25rem -0.5rem;
  color: $clr-danger;
}
