/*	================================
    ENTRY-CARD
================================	*/

.entry {
  width: 334px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.125rem;
  border-radius: 10px;
  padding: 3em 2em;
  background-color: white;
  box-shadow: $shadow-main;

  h1,
  p {
    text-align: center;
  }

  h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;

    & + p {
      margin-top: -1.5rem;
      color: $clr-text-muted;
    }
  }

  a {
    color: $clr-accent;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $clr-accent-hover;
    }
  }

  @media screen and (min-width: 48em) {
    width: 392px;

    h1 {
      font-size: 2rem;
    }

    h1,
    p {
      text-align: left;
    }
  }
}
