/*	================================
    FORM
================================	*/

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.875rem;

  &__icon {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.25em 0.5em;
    background-color: #eee;
  }

  &__group {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;

    label {
      font-weight: 500;
    }

    input {
      width: 100%;
      border-radius: 4px;
      border-color: rgba(28, 29, 33, 0.2);
      padding: 0.25em 0.5em;
    }

    p {
      font-size: 0.875rem;
      text-align: right !important;
    }

    &--addon {
      flex-direction: row;
      gap: 0;
    }

    &--otp {
      flex-direction: row;
      justify-content: center;
      gap: 0.875rem;

      input {
        width: 42px;
        height: 42px;

        &:disabled {
          background-color: #eee;
        }
      }
    }
  }
}
