/*	================================
    MENU
================================	*/

.menu {
  position: relative;
  display: inline-block;

  /* esconde as li's que vêm depois da primeira */
  li:not(.menu__user) {
    min-width: 100%;
    display: none;
    position: absolute;
    left: 0;
    white-space: nowrap;
    background-color: white;
    z-index: 10;
  }

  &:hover {
    &__user {
      border-bottom: 2px solid $clr-primary-hover;
    }
  }

  /* revela li's escondidas quando a primeira está sob hover */
  &:hover li:not(.menu__user) {
    display: block;
  }

  &__user {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    border-bottom: 2px solid transparent;
  }

  &__avatar {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    border-radius: 100vmax;
    background-color: $clr-text-main;
    color: white;
  }

  &__item {
    cursor: pointer;
    display: block;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0.75em;
    color: $clr-text-muted;
    box-shadow: $shadow-soft;

    &:focus,
    &:hover {
      color: inherit;
    }
  }
}
