/*	================================
    BUTTONS
================================	*/

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 100vmax;
  padding: 0.5em 1.75em;
  transition: all 0.2s ease;

  &:disabled {
    cursor: not-allowed;
  }
}

.btn--warning {
  background-color: var(--clr-primary);

  &:hover:not(:disabled) {
    background-color: var(--clr-primary-hover);
  }
}

.btn--danger {
  border: 1px solid var(--clr-danger);
  background-color: white;
  color: var(--clr-danger);

  &:focus,
  &:hover {
    background-color: var(--clr-danger);
    color: white;
  }
}

.btn--link {
  color: var(--clr-accent);

  &:focus,
  &:hover {
    text-decoration: underline;
    color: var(--clr-accent-hover);
  }
}
