/*	================================
    FORM
================================	*/

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75rem;
}

.form__group {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;

  label {
    font-weight: 500;
  }

  input {
    border-radius: 4px;
    border-color: rgba(28, 29, 33, 0.2);
    padding: 0.25em 0.5em;
  }

  p {
    font-size: 0.875rem;
    text-align: right !important;
  }
}

.form__group--otp {
  flex-direction: row;
  justify-content: center;
  gap: 0.75em;

  input {
    width: 42px;
    height: 42px;

    &:disabled {
      background-color: #eee;
    }
  }
}
