/*	================================
    HOME
================================	*/

.user {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
  padding: 2em;
}

.user__heading {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
}

.user__actions {
  display: flex;
  flex-flow: column nowrap;

  a {
    text-decoration: none;
    color: inherit;
  }
}

@media screen and (min-width: 45em) {
  .user__actions {
    align-items: center;
  }
}
