/*	================================
    BASE
================================	*/

:root {
  --clr-primary: hsl(47, 100%, 59%);
  --clr-primary-hover: hsl(44, 100%, 50%);
  --clr-accent: hsl(212, 100%, 66%);
  --clr-accent-hover: hsl(221, 97%, 53%);
  --clr-danger: hsl(357, 96%, 58%);
  --clr-text-main: hsl(228, 8%, 12%);
  --clr-text-muted: hsl(220, 10%, 46%);
  --clr-bg-body: hsl(0, 0%, 100%);

  --shadow-main: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  --shadow-soft: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

*:focus {
  outline: 2px solid var(--clr-accent);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--clr-bg-body);
  color: var(--clr-text-main);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
