/*	================================
    LOADER: SPINNER
================================	*/

@import '../../../../../styles/abstracts/variables';

.spinner {
  width: 48px;
  height: 48px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: $clr-accent;
  border-radius: 100vmax;
  animation: spin 0.8s linear infinite;
}
